@import "./mixins.scss";
@import "./variables.scss";

.avatar {
	@include flex-center;
	width: 40px;
	height: 40px;
	background-color: $color-primary;
	border-radius: 50%;

	&.clickable {
		position: relative;
		cursor: pointer;

		&:hover {
			background-color: $color-primary-dark;

			.menu {
				display: block;
			}
		}

		.menu {
			position: absolute;
			top: 20px;
			right: 0;
			display: none;
		}
	}

	.image {
		width: 100%;
		height: 100%;
	}
}
