@import "./mixins.scss";
@import "./variables.scss";

@keyframes tonext {
	75% {
		left: 0;
	}

	95% {
		left: 100%;
	}

	98% {
		left: 100%;
	}

	99% {
		left: 0;
	}
}

@keyframes tostart {
	75% {
		left: 0;
	}

	95% {
		left: -400%;
	}

	98% {
		left: -400%;
	}

	99% {
		left: 0;
	}
}

@keyframes snap {
	96% {
		scroll-snap-align: center;
	}

	97% {
		scroll-snap-align: none;
	}

	99% {
		scroll-snap-align: none;
	}

	to {
		scroll-snap-align: center;
	}
}

@keyframes scroll-buttons {
	74% {
		opacity: 0.8;
	}

	75% {
		opacity: 0;
	}

	99% {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}

.carousel {
	position: relative;
	padding-top: 44%;
	perspective: 100px;

	.viewport {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		display: flex;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;

		.slide {
			position: relative;
			flex: 0 0 100%;
			width: 100%;

			.snapper {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				scroll-snap-align: center;
				pointer-events: none;

				.previous,
				.next {
					@include flex-center;
					position: absolute;
					top: calc(50% - 20px);
					width: 40px;
					height: 40px;
					border-radius: 50%;
					color: $color-secondary-white;
					background-color: $color-secondary-black;
					opacity: 0.8;
					pointer-events: all;
					text-decoration: none;
					animation-name: scroll-buttons;
					animation-duration: 4s;
					animation-timing-function: ease;
					animation-iteration-count: infinite;

					&:hover {
						transform: scale(1.1);
					}
				}

				.next {
					right: 0;
				}
			}

			@media (hover: hover) {
				.snapper {
					animation-name: tonext, snap;
					animation-duration: 4s;
					animation-timing-function: ease;
					animation-iteration-count: infinite;
				}

				&:last-child .snapper {
					animation-name: tostart, snap;
				}
			}
		}
	}

	.navigation {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		display: flex;
		justify-content: center;
		gap: 15px;

		.button {
			display: block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $color-secondary-black;
		}
	}

	&:hover,
	&:focus-within {
		.snapper {
			animation-name: none !important;

			.previous,
			.next {
				animation-name: none !important;
			}
		}
	}
}
