@import "./mixins.scss";
@import "./variables.scss";

.content {
	display: grid;
	grid-template-rows: 60px auto 1fr $secondary-element-height;
	justify-items: center;
	height: 100%;
	overflow-x: hidden;

	.top.block {
		@include width-init-animation(4);
		width: 100%;
		max-width: 850px;
		padding: 20px 20px 40px 20px;
	}
}
