@import "./mixins.scss";
@import "./variables.scss";

.footer {
	@include flex-center;
	@include height-init-animation(2);
	width: 100%;
	height: 100%;
	background-color: $color-secondary-white;
	box-shadow: 2px 0 4px 1px $color-secondary-darkest;
	letter-spacing: 1px;
	gap: 3px;
}
