@import "./mixins.scss";
@import "./variables.scss";

.header {
	@include height-init-animation(0, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	height: 100%;
	padding: 15px 15px;
	background-color: $color-secondary-white;
	box-shadow: -2px 0 4px 1px $color-secondary-darkest;
	z-index: 10;

	.title {
		color: $color-primary;
		font-size: $font-large;
		font-weight: $font-weight-highlighted;

		.title-text {
			@media screen and (max-width: $screen-tablet) {
				display: none;
			}
		}
	}

	.block {
		@include flex-center;
		gap: 10px;
		height: 100%;
	}

	.block.search {
		flex-grow: 1;
	}

	.block.user-info {
		@media screen and (max-width: $screen-mobile) {
			display: none;
		}
	}
}
