@import "./variables.scss";

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
	&.large {
		font-size: $font-big;
	}

	&.biggest {
		font-size: $font-large;
	}

	&.clickable {
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 1;

			&.fa-telegram {
				color: $color-telegram;
			}

			&.fa-instagram {
				color: $color-instagram;
			}

			&.fa-facebook {
				color: $color-facebook;
			}
		}
	}
}
