@import "./variables.scss";

.main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 250px 1fr;

	@media screen and (max-width: $screen-laptop) {
		grid-template-columns: auto 1fr;
	}
}
