@import "./variables.scss";

.menu {
	box-shadow: 0 0 2px 1px $color-secondary-dark;
	border-radius: 5px;
	min-width: 160px;
	background-color: $color-secondary-white;

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		width: 100%;
		padding: 10px 15px;

		&.dangerous {
			border-top: 1px solid $color-secondary-darkest;
			color: red;
		}

		&:hover {
			background-color: $color-secondary-dark;
		}
	}
}
