@import "./variables.scss";

.menu-bar {
	@include width-init-animation(5.5);
	display: flex;
	align-items: center;
	overflow-x: auto;
	width: 100%;
	max-width: 100%;
	height: 60px;
	min-height: 60px;
	padding: 10px 20px;
	gap: 15px;

	&::-webkit-scrollbar {
		display: none;
	}

	.item {
		padding: 5px 15px;
		background-color: $color-secondary-dark;
		border: 1px solid $color-secondary-darkest;
		border-radius: 36px;
		width: min-content;
		height: min-content;
		cursor: pointer;

		&:hover {
			background-color: $color-secondary-darker;
		}

		&:first-child {
			border-color: $color-primary-dark;
			background-color: $color-primary;
			color: $color-secondary-white;

			&:hover {
				background-color: $color-primary-dark;
			}
		}
	}
}
