@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin width-init-animation($order, $inverse: 0) {
	@if $inverse == 1 {
		animation-name: width-init-inverse;
	} @else {
		animation-name: width-init;
	}

	animation-duration: 1s;
	animation-delay: $order * 1s;
	animation-fill-mode: forwards;
	transform: translateX(calc(100% * (#{$inverse} - 0.5) * 2));
	opacity: 0;
}

@mixin height-init-animation($order, $inverse: 0) {
	@if $inverse == 1 {
		animation-name: height-init-inverse;
	} @else {
		animation-name: height-init;
	}

	animation-duration: 1s;
	animation-delay: $order * 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes width-init {
	from {
		transform: translateX(100%);
		opacity: 1;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes width-init-inverse {
	from {
		transform: translateX(-100%);
		opacity: 1;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes height-init {
	from {
		transform: translateY(100%);
		opacity: 1;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes height-init-inverse {
	from {
		transform: translateY(-100%);
		opacity: 1;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
