@import "./variables.scss";

.pulser {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: $color-primary;
	animation-name: pulse;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0.6);
	}
}
