@import "./mixins.scss";
@import "./variables.scss";

* {
	box-sizing: border-box;
	transition-duration: 0.1s;
}

html,
body {
	height: 100vh;
}

body {
	display: grid;
	grid-template-rows: $secondary-element-height 1fr;
	font-family: $font;
	font-size: $font-normal;
	color: $color-secondary-black;
	background-color: $color-secondary;
	line-height: 1.3;
	overflow-y: auto;

	& > * {
		min-height: 0;
	}
}
