@import "./mixins.scss";
@import "./variables.scss";

.sidebar {
	@include width-init-animation(1, 1);
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	height: 100%;
	background-color: $color-secondary-dark;
	font-weight: $font-weight-highlighted;

	.list {
		height: 100%;
		overflow-y: auto;

		.item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 15px;
			cursor: pointer;

			&:hover {
				background-color: $color-secondary-darker;
			}

			.block {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}

	.contacts {
		padding: 15px;
		border-top: 2px solid $color-secondary;

		.inner {
			padding: 15px;
			border-radius: 3px;
			text-align: center;
			background-color: $color-secondary-dark-accented;

			.text {
				padding-bottom: 15px;
				font-size: $font-medium;
			}

			.icons {
				display: flex;
				justify-content: center;
				gap: 20px;
			}
		}
	}

	@media screen and (max-width: $screen-laptop) {
		width: min-content;
		min-width: min-content;

		.item {
			justify-content: center !important;

			.username,
			.stats {
				display: none !important;
			}
		}

		.contacts .inner {
			.text {
				display: none;
			}

			.icons {
				flex-direction: column;
			}
		}
	}

	@media screen and (max-width: $screen-mobile) {
		display: none;
	}
}
