@import "./mixins.scss";
@import "./variables.scss";

.text-field {
	@include flex-center;
	width: 100%;
	max-width: 450px;
	height: 100%;
	max-height: 40px;
	border: 1px solid $color-secondary-darkest;
	border-radius: 6px;

	&:focus-within {
		border: 1px solid $color-primary;
	}

	.input-wrapper {
		padding-left: 10px;
		flex-grow: 1;

		.input {
			width: 100%;
			background-color: transparent;
			border: none;
			outline: none;
		}
	}

	.button {
		@include flex-center;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background-color: $color-secondary-dark;
		border-left: 1px solid $color-secondary-darkest;
		padding: 0 15px;
		height: 100%;
		cursor: pointer;

		&:hover {
			background-color: $color-secondary-darker;
		}
	}
}
