$color-primary: #ecb159;
$color-primary-dark: #cc9139;
$color-secondary-white: #fafafa;
$color-secondary: #ebebeb;
$color-secondary-dark: #d3d3d3;
$color-secondary-dark-accented: #c2c2c2;
$color-secondary-darker: #aeaeae;
$color-secondary-darkest: #838383;
$color-secondary-black: #333;
$color-ghost: #0008;
$color-telegram: #0088cc;
$color-instagram: #e1306c;
$color-facebook: #3b5998;

$secondary-element-height: 70px;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
	Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-large: 40px;
$font-big: 24px;
$font-medium: 18px;
$font-normal: 14px;
$font-small: 12px;
$font-weight-highlighted: 500;

$screen-laptop: 1200px;
$screen-tablet: 768px;
$screen-mobile: 480px;
