@import "./mixins.scss";
@import "./variables.scss";

.video-grid {
	@include width-init-animation(3);
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 20px 10px;
	gap: 15px;
	overflow-y: auto;

	& > * {
		width: 100%;
		max-width: 380px;
		height: 250px;

		@media screen and (max-width: $screen-mobile) {
			height: 180px;
		}
	}
}
