@import "./mixins.scss";
@import "./variables.scss";

.video {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&.big {
		flex-direction: row;

		& > * {
			height: 100%;
		}

		.info {
			width: 200px;
			min-width: 200px;
			padding: 15px;
			background-color: $color-secondary-dark;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			.user {
				padding-bottom: 20px;
			}

			@media screen and (max-width: $screen-tablet) {
				display: none;
			}
		}
	}

	&:not(&.big) {
		& > * {
			width: 100%;
		}

		.info {
			width: 100%;
			background-color: $color-secondary-white;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			.user {
				padding: 10px;
			}
		}
	}

	.poster-wrapper {
		@include flex-center;
		flex-grow: 1;
		overflow: hidden;
		background-color: $color-secondary-black;
		position: relative;

		.poster {
			width: auto;
			height: 100%;
		}

		.play-bg {
			@include flex-center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $color-secondary-white;
			background-color: $color-ghost;
			display: none;
			cursor: pointer;
		}

		.badge {
			position: absolute;
			border-radius: 3px;
			padding: 3px 6px;

			&.live {
				top: 4px;
				left: 4px;
				background-color: $color-primary;

				&::after {
					content: "LIVE";
				}
			}

			&.viewers {
				right: 4px;
				bottom: 4px;
				color: $color-secondary-white;
				background-color: $color-ghost;
			}
		}

		&:hover .play-bg {
			display: flex;
		}
	}

	.info .user {
		display: flex;
		align-items: center;
		gap: 15px;

		.avatar {
			flex-shrink: 0;
		}

		.texts {
			display: flex;
			flex-direction: column;
			gap: 5px;
			flex-grow: 1;

			&,
			& > * {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.username {
				color: $color-secondary-darkest;
				font-size: $font-small;
			}

			& > *:hover {
				color: $color-primary;
				cursor: pointer;
			}
		}
	}
}
